:root {
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --white-text-color: #ffffff;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --main-background-color: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  background: var(--main-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list-style {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.decor {
  text-decoration: none;
}

.hover-style:hover,
.hover-style:focus {
  color: var(--accent-color);
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*---------- Шапка общая -----------*/

.page-header {
  border-bottom: 1px solid #ececec;
}

.header-style {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.logo {
  font-family: 'Raleway';
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}

.logo-accent {
  color: var(--accent-color);
}

.link-style {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-style:hover,
.link-style:focus {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .contacts-item + .contacts-item {
  margin-left: 50px;
}

.contacts-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--second-text-color);
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-icon-style {
  margin-right: 10px;
  fill: currentColor;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
  fill: currentColor;
}

.current::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 5px;
  background: #2196f3;
  border-radius: 2px;
}

/*-------- Основной контент - главная --------*/

.overlay {
  background: #2f303a;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-section-title {
  font-style: 400;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);

  margin-bottom: 30px;
}

.hero-section-button {
  min-width: 200px;
  height: 50px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 0.53;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  border-radius: 4px;
  padding: 10px 32px;
  border: 1px solid transparent;
  background-color: #2196f3;
}

/* .hero-section-button:hover,
.hero-section-button:focus {
  background-color: #2196f3;
  color: var(--white-text-color);
} */

/*---------- skill-section ----------*/

.skill-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.skill-section-list {
  width: 270px;
  flex-wrap: wrap;
}

.skill-section-list:not(:last-child) {
  margin-right: 30px;
}

.skill-section .list-style {
  display: flex;
}

.skill-section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.scill-section-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

/*---------- work-section ----------*/

.work-section {
  padding-top: 0px;
}

.work-section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.work-section .list-style {
  display: flex;
  margin-top: 50px;
}

.work-section-item:not(:last-child) {
  margin-right: 30px;
}

.work-section-thumb {
  width: 100%;
  position: absolute;
  bottom: 0;

  background: rgba(47, 48, 58, 0.8);
  padding: 27px 0 27px 0;
}

.work-section-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.work-section-item {
  position: relative;
  width: 370px;
  height: 294px;
}

/*---------- team-section ----------*/

.team-section {
  background: #f5f4fa;
}

.team-section .list-style {
  display: flex;
  margin-top: 50px;
}

.team-section-list:not(:last-child) {
  margin-right: 30px;
}

.team-section-list {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}

.team-section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-section-person {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-section-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin: 10px 0 16px 0;
}

.team-section-image {
  vertical-align: bottom;
}

.team-section-item {
  padding-top: 30px;
  padding-bottom: 30px;
}

.social-link {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 10px;
  justify-content: center;
}

.social-link-style {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background: var(--white-text-color);
  fill: #afb1b8;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-style:hover,
.social-link-style:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
}

/*---------- clients section ----------*/

.clients-section-title {
  font-style: 400;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.clients-section-list {
  display: flex;
  margin-top: 50px;
  gap: 30px;
}

.clients-link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  color: #afb1b8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

/*-------- Основной контент - портфолио --------*/

.button-list {
  display: flex;
  justify-content: center;
}

.button-list .button-item + .button-item {
  margin-left: 8px;
}

.main-section-button {
  padding: 6px 22px;
  background: #f5f4fa;
  border-radius: 4px;

  font-family: 'Roboto';
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--primary-text-color);
  cursor: pointer;
  border: 1px solid transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-section-button:hover,
.main-section-button:focus {
  background-color: #2196f3;
  color: var(--white-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*---------- Карточки ----------*/

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.project-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-image {
  vertical-align: bottom;
}

.project-overlay {
  display: inline-block;
  content: '';
  padding: 63px 24px;

  font-style: 400;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white-text-color);

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item:hover .project-overlay,
.project-item:focus .project-overlay {
  transform: translatey(0%);
}

.project-item:nth-child(3n) {
  margin-right: 0;
}

.project-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.main-section-projects {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.main-section-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.project-text {
  padding: 20px 24px;
}

.project-item:hover,
.project-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/*---------- Футер общий ----------*/

.footer-section {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-section .container {
  display: flex;
}

.footer-logo {
  font-family: 'Raleway';
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white-text-color);
  text-decoration: none;
}

.footer-logo-accent {
  color: var(--accent-color);
}

.footer-adress-style {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-adress-style:hover,
.footer-adress-style:focus {
  color: var(--accent-color);
}

.footer-contacts-style {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts-style:hover,
.footer-contacts-style:focus {
  color: var(--accent-color);
}

.list-style a {
  text-decoration: none;
}

.footer-adress {
  margin-top: 20px;
}

.footer-item {
  margin-top: 9px;
}

.footer-social-link {
  margin-left: 70px;
}

.footer-text {
  font-style: 400;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 12px;
  color: #ffffff;
}

.footer-link {
  display: flex;
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 0px;
  list-style: none;
  gap: 10px;
}

.footer-link-style {
  display: flex;
  align-items: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-style {
  fill: #ffffff;
}

.footer-link-style:hover,
.footer-link-style:focus {
  background-color: var(--accent-color);
}

.subscribe-form {
  display: flex;
  margin-left: auto;
}

.subscribe-text {
  display: block;
  margin-top: 12px;
  margin-bottom: 20px;

  font-style: 400;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.subscribe-input {
  width: 358px;
  height: 50px;

  font-style: 400;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #ffffff;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscribe-item input::placeholder {
  padding-left: 16px;

  font-style: 400;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-top: 48px;
  margin-left: 12px;
  padding: 0;
  gap: 10px;

  font-style: 400;
  font-weight: 700;
  font-size: 16px;
  line-height: 2.25;
  letter-spacing: 0.06em;
  color: #ffffff;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
/* ---------- modal ---------- */

.backdrop {
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;

  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.3);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 581px;
  width: 528px;
  padding: 40px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%) scale(1);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  border: 0;

  cursor: pointer;

  background: #ffffff;
}

.c-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.c-icon:hover {
  fill: var(--accent-color);
}

.modal-text {
  margin-bottom: 12px;

  font-style: 400;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.modal-item {
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.modal-name {
  font-style: 400;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: #757575;
}

.modal-form textarea::placeholder {
  font-family: 'Roboto';
  font-style: 400;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-style {
  outline: none;
  width: 100%;
  min-height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  position: absolute;
  top: 11px;
  left: 12px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-style:focus {
  border-color: var(--accent-color);
}

.modal-style:focus + .modal-icon {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.modal-comment {
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
  width: 448px;
  min-height: 120px;
  resize: none;
  outline: none;

  color: #000000;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:focus {
  border-color: var(--accent-color);
}

.checkbox-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
}

.submit-btn {
  display: flex;
  padding: 10px 52px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

  font-style: 400;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
}

.privacy-policy {
  display: flex;
  justify-content: center;
  align-items: center;

  font-style: 400;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: #757575;
}

.policy-accent {
  margin-left: 4px;
  font-style: 400;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #2196f3;

  /* text-decoration: underline; */
}

.modal-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.policy-icon {
  position: absolute;
  top: 4.3px;
  left: 20px;
  fill: transparent;
}

.policy-icon-none {
  margin-right: 8px;
}

.modal-checkbox:checked + .policy-icon {
  background-image: url(../images/symbol-defs.svg/#icon-icon-check);
  /* background-color: #000000; */
  fill: var(--accent-color);
}

.modal-checkbox:checked ~ .policy-icon-none {
  fill: var(--accent-color);
}
