.page-header {
  // border-bottom: 1px solid #ececec;

  &__wrapper {
    @extend %flex-element;
  }
}

.logo {
  margin: 16px 0 16px 0;
}

.site-nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
