.skill-section__wrapper {
  @extend %flex-element;
  justify-content: center;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.skill-section__item {
  width: 270px;
  flex-wrap: wrap;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.skill-section__list {
  display: flex;
  @extend %list-style;
}

.skill-section__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-text-color;
  margin-bottom: 10px;
}

.skill-section__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $second-text-color;
}
