.footer-logo {
  font-family: 'Raleway';
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: $white-text-color;
  text-decoration: none;

  @media screen and (min-width: 768px) {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
  }

  @media screen and (min-width: 1200px) {
    font-style: 400;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }

  &__accent {
    color: $accent-color;
  }
}
