.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: #ffffff;
  z-index: 2;
  > .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    overflow: auto;
    padding: 48px 40px 48px 40px;
  }

  @media screen and (min-width: 767px) {
    display: none;
  }

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button__open {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button__close {
  position: absolute;
  top: 10px;
  right: 15px;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
    fill: currentColor;
  }
}

.menu-button__close {
  margin-left: auto;
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-nav__link {
  font-style: 400;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: $primary-text-color;
}

.mob-current {
  color: $accent-color;
}

.mobile-contacts__tel {
  font-family: 'Roboto';
  font-style: 400;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;

  color: #2196f3;
  text-decoration: none;

  @media screen and (max-width: 380px) {
    font-size: 24px;
  }
}

.mobile-contacts {
  margin-bottom: 64px;

  &__list:not(:last-child) {
    margin-bottom: 32px;
  }

  &__link {
    font-family: 'Roboto';
    font-style: 400;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;

    color: $second-text-color;
    text-decoration: none;

    // transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    // &:hover,
    // &:focus {
    //   color: $accent-color;
    //   fill: currentColor;
    // }
  }
}

.mobile-soc {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 10px;
}

.mobile-soc__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.mobile-soc__link {
  font-family: 'Roboto';
  font-style: 400;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 0.02em;
  color: #2196f3;

  text-decoration: none;
}
